<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      Angular reactive Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
            />
            <div class="text-warning" *ngIf="f.firstName.touched && f.firstName.errors">
              <div *ngIf="f.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
            />
            <div class="text-warning" *ngIf="submitted && f.lastName.errors">
              <div *ngIf="submitted && f.lastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          <div class="text-warning" *ngIf="submitted && f.email.errors">
            <div *ngIf="submitted && f.email.errors.required">
              Email is required
            </div>
            <div *ngIf="submitted && f.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container *ngIf="submitted && f.email.errors">
          <div class="text-danger" *ngIf="submitted && f.email.value">
            Value is required.
          </div>
        </ng-container>
        <div class="row">
          <div class="form-group col">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <div class="text-warning" *ngIf="submitted && f.password.errors">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              [ngClass]="{
                'is-invalid': submitted && f['confirmPassword'].errors
              }"
            />
            <div
              class="text-warning"
              *ngIf="submitted && f.confirmPassword.errors"
            >
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            id="acceptTerms"
            class="form-check-input"
            formControlName="acceptTmc"
            [ngClass]="{
              'is-invalid': submitted && f['acceptTmc'].errors
            }"
          />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div class="text-warning" *ngIf="submitted && f.acceptTmc.errors"><div *ngIf="f.acceptTmc.errors.required">Accept Ts & Cs is required</div></div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mx-3">Register</button>
          <button
            (click)="onReset()"
            class="btn btn-warning btn-lg px-4"
            type="reset"
          >
            Reset
          </button>
          <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
